.lettuce {
	background-color: green;
}
ul {
	margin: 1.12em 0;
	margin-left: 40px;
	page-break-before: avoid ;
}
li {
	list-style: disc;
	display: list-item;
}
.col1 {
	float: left;
	width: 50%;
}
.col2 {
	margin-left: 50%
	max-width:800px;
}
.clear {
	clear: both;
}
h2 {
	border-bottom: 1px solid black;
	margin-bottom: .9em;
}

.footer{
	font-size: 18px;
	text-align: right;
}